<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-common-info-heading" jhiTranslate="dataCenterApp.commonInfo.home.createOrEditLabel">Create or edit a Common Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commonInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commonInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.title" for="field_title" [ngbTooltip]="'dataCenterApp.commonInfo.help.title' | translate">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="commonInfo.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.description" for="field_description" [ngbTooltip]="'dataCenterApp.commonInfo.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="commonInfo.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.showStartDate" for="field_showStartDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.showStartDate' | translate">Show Start Date</label>
                    <div class="input-group">
                        <input id="field_showStartDate" type="text" class="form-control" name="showStartDate" ngbDatepicker  #showStartDateDp="ngbDatepicker" [(ngModel)]="commonInfo.showStartDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="showStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.showEndDate" for="field_showEndDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.showEndDate' | translate">Show End Date</label>
                    <div class="input-group">
                        <input id="field_showEndDate" type="text" class="form-control" name="showEndDate" ngbDatepicker  #showEndDateDp="ngbDatepicker" [(ngModel)]="commonInfo.showEndDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="showEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.alarmRelevant" for="field_alarmRelevant" [ngbTooltip]="'dataCenterApp.commonInfo.help.alarmRelevant' | translate">Alarm Relevant</label>
                    <input type="checkbox" class="form-control" name="alarmRelevant" id="field_alarmRelevant"
                        [(ngModel)]="commonInfo.alarmRelevant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.alarmRelevantStartDate" for="field_alarmRelevantStartDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.alarmRelevantStartDate' | translate">Alarm Relevant Start Date</label>
                    <div class="input-group">
                        <input id="field_alarmRelevantStartDate" type="text" class="form-control" name="alarmRelevantStartDate" ngbDatepicker  #alarmRelevantStartDateDp="ngbDatepicker" [(ngModel)]="commonInfo.alarmRelevantStartDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="alarmRelevantStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dataCenterApp.commonInfo.alarmRelevantEndDate" for="field_alarmRelevantEndDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.alarmRelevantEndDate' | translate">Alarm Relevant End Date</label>
                    <div class="input-group">
                        <input id="field_alarmRelevantEndDate" type="text" class="form-control" name="alarmRelevantEndDate" ngbDatepicker  #alarmRelevantEndDateDp="ngbDatepicker" [(ngModel)]="commonInfo.alarmRelevantEndDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="alarmRelevantEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
