<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commonInfo">
            <h2><span jhiTranslate="dataCenterApp.commonInfo.detail.title">Common Info</span> {{commonInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dataCenterApp.commonInfo.title" [ngbTooltip]="'dataCenterApp.commonInfo.help.title' | translate">Title</span></dt>
                <dd>
                    <span>{{commonInfo.title}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.commonInfo.description" [ngbTooltip]="'dataCenterApp.commonInfo.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{commonInfo.description}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.commonInfo.showStartDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.showStartDate' | translate">Show Start Date</span></dt>
                <dd>
                    <span>{{commonInfo.showStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.commonInfo.showEndDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.showEndDate' | translate">Show End Date</span></dt>
                <dd>
                    <span>{{commonInfo.showEndDate}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.commonInfo.alarmRelevant" [ngbTooltip]="'dataCenterApp.commonInfo.help.alarmRelevant' | translate">Alarm Relevant</span></dt>
                <dd>
                    <span>{{commonInfo.alarmRelevant}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.commonInfo.alarmRelevantStartDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.alarmRelevantStartDate' | translate">Alarm Relevant Start Date</span></dt>
                <dd>
                    <span>{{commonInfo.alarmRelevantStartDate}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.commonInfo.alarmRelevantEndDate" [ngbTooltip]="'dataCenterApp.commonInfo.help.alarmRelevantEndDate' | translate">Alarm Relevant End Date</span></dt>
                <dd>
                    <span>{{commonInfo.alarmRelevantEndDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/common-info', commonInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
