<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alarmInfo">
            <h2><span jhiTranslate="dataCenterApp.alarmInfo.detail.title">Alarm Info</span> {{alarmInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dataCenterApp.alarmInfo.time">Time</span></dt>
                <dd>
                    <span>{{alarmInfo.time}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.alarmInfo.priority">Priority</span></dt>
                <dd>
                    <span>{{alarmInfo.priority}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.alarmInfo.comment">Comment</span></dt>
                <dd>
                    <span>{{alarmInfo.comment}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.alarmInfo.placeOfAction">Place Of Action</span></dt>
                <dd>
                    <div *ngIf="alarmInfo.placeOfAction">
                        <a [routerLink]="['/place-of-action', alarmInfo.placeOfAction?.id, 'view']">{{alarmInfo.placeOfAction?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.alarmInfo.keywords">Keywords</span></dt>
                <dd>
                    <div *ngIf="alarmInfo.keywords">
                        <a [routerLink]="['/keywords', alarmInfo.keywords?.id, 'view']">{{alarmInfo.keywords?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alarm-info', alarmInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
