<div>
    <h2 id="page-heading">
        <span jhiTranslate="dataCenterApp.equipment.home.title">Equipment</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-equipment" [routerLink]="['/equipment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dataCenterApp.equipment.home.createLabel">
            Create new Equipment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="equipment">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dataCenterApp.equipment.name">Name</span></th>
            <th><span jhiTranslate="dataCenterApp.equipment.resource">Resource</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let equipment of equipment ;trackBy: trackId">
                <td><a [routerLink]="['/equipment', equipment.id, 'view' ]">{{equipment.id}}</a></td>
                <td>{{equipment.name}}</td>
                <td>
                    <div *ngIf="equipment.resource">
                        <a [routerLink]="['../resource', equipment.resource?.id, 'view' ]" >{{equipment.resource?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/equipment', equipment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/equipment', equipment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'equipment/'+ equipment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
