<div>
    <h2 id="page-heading">
        <span jhiTranslate="dataCenterApp.placeOfAction.home.title">Place Of Actions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-place-of-action" [routerLink]="['/place-of-action/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dataCenterApp.placeOfAction.home.createLabel">
            Create new Place Of Action
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="placeOfActions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dataCenterApp.placeOfAction.street">Street</span></th>
            <th><span jhiTranslate="dataCenterApp.placeOfAction.houseNumber">House Number</span></th>
            <th><span jhiTranslate="dataCenterApp.placeOfAction.city">City</span></th>
            <th><span jhiTranslate="dataCenterApp.placeOfAction.addition">Addition</span></th>
            <th><span jhiTranslate="dataCenterApp.placeOfAction.geoPosition">Geo Position</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let placeOfAction of placeOfActions ;trackBy: trackId">
                <td><a [routerLink]="['/place-of-action', placeOfAction.id, 'view' ]">{{placeOfAction.id}}</a></td>
                <td>{{placeOfAction.street}}</td>
                <td>{{placeOfAction.houseNumber}}</td>
                <td>{{placeOfAction.city}}</td>
                <td>{{placeOfAction.addition}}</td>
                <td>
                    <div *ngIf="placeOfAction.geoPosition">
                        <a [routerLink]="['../geo-position', placeOfAction.geoPosition?.id, 'view' ]" >{{placeOfAction.geoPosition?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/place-of-action', placeOfAction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/place-of-action', placeOfAction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place-of-action/'+ placeOfAction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
