<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geoPosition">
            <h2><span jhiTranslate="dataCenterApp.geoPosition.detail.title">Geo Position</span> {{geoPosition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dataCenterApp.geoPosition.x">X</span></dt>
                <dd>
                    <span>{{geoPosition.x}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.geoPosition.y">Y</span></dt>
                <dd>
                    <span>{{geoPosition.y}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geo-position', geoPosition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
