<div>
    <h2 id="page-heading">
        <span jhiTranslate="dataCenterApp.resource.home.title">Resources</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resource" [routerLink]="['/resource/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dataCenterApp.resource.home.createLabel">
            Create new Resource
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resources">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dataCenterApp.resource.name">Name</span></th>
            <th><span jhiTranslate="dataCenterApp.resource.alarmInfo">Alarm Info</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resource of resources ;trackBy: trackId">
                <td><a [routerLink]="['/resource', resource.id, 'view' ]">{{resource.id}}</a></td>
                <td>{{resource.name}}</td>
                <td>
                    <div *ngIf="resource.alarmInfo">
                        <a [routerLink]="['../alarm-info', resource.alarmInfo?.id, 'view' ]" >{{resource.alarmInfo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/resource', resource.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resource', resource.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource/'+ resource.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
