<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="keywords">
            <h2><span jhiTranslate="dataCenterApp.keywords.detail.title">Keywords</span> {{keywords.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dataCenterApp.keywords.keyword">Keyword</span></dt>
                <dd>
                    <span>{{keywords.keyword}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.keywords.emergencyKeyword">Emergency Keyword</span></dt>
                <dd>
                    <span>{{keywords.emergencyKeyword}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.keywords.b">B</span></dt>
                <dd>
                    <span>{{keywords.b}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.keywords.r">R</span></dt>
                <dd>
                    <span>{{keywords.r}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.keywords.s">S</span></dt>
                <dd>
                    <span>{{keywords.s}}</span>
                </dd>
                <dt><span jhiTranslate="dataCenterApp.keywords.t">T</span></dt>
                <dd>
                    <span>{{keywords.t}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/keywords', keywords.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
